@model CampRating.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Edit User - CampRating</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="container">
        <h2>Edit User</h2>

        <form method="post" action="/Admin/EditUser/@Model.Id">
            <input type="hidden" name="Id" value="@Model.Id" />

            <div class="form-group">
                <label>Username:</label><br />
                <input type="text" name="Username" value="@Model.Username" required />
            </div>

            <div class="form-group">
                <label>First Name:</label><br />
                <input type="text" name="FirstName" value="@Model.FirstName" required />
            </div>

            <div class="form-group">
                <label>Last Name:</label><br />
                <input type="text" name="LastName" value="@Model.LastName" required />
            </div>

            <br />
            <button type="submit" class="button">Save Changes</button>
        </form>

        <br />
        <a href="/Admin/ManageUsers" class="back-link">Back to Manage Users</a>
    </div>
</body>
</html>
