@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Login - Camp Rating</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form method="post">
            <input type="text" name="username" placeholder="Username" required /><br />
            <input type="password" name="password" placeholder="Password" required /><br />
            <button type="submit">Login</button>
        </form>
        @if(ViewBag.Error != null)
        {
            <p class="error">@ViewBag.Error</p>
        }
        <p>Don't have an account? <a href="/Account/Register">Register</a></p>
    </div>
</body>
</html>
